[id] {
    scroll-margin-top: 3.8em;
}

.map {
    overflow:hidden;
    padding-bottom:40%;
    position:relative;
    height:0;
}

.map iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.carousel-item {
    height: 90vh;
  }

.carousel-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}